body {
  overflow-x: hidden;
}

img.thumbnail {
  height: 300px;
  width: 200px;
  object-fit: contain;
  background-color: lightgray;
}

.loader {
  height: 70vh;
}

@media screen and (min-width: 1300px) {
  img.logo {
    width: 11vw;
    max-width: 200px;
  }
}

@media screen and (max-width: 1300px) {
  img.logo {
    width: 120px;
  }
}
